* {
    margin: 0;
    border: 0;
    padding: 0;
  }
  

  
  /* boton de donaciones*/
  .btn-donacion {
    background-color: #0010a1;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: 2px solid white;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    transform: color 2s;
  
  }
  
  .btn-donacion:hover {
    background-color: #ffffff;
  }
  
  .btn-donacion::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #5562d8;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
  }
  
  .btn-donacion:hover::before {
    width: 40%;
  }
  
  .navbar {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(0, 0, 0);
  }
  
  .link1 {
    color: white;
  
  }
  
  .link1:hover {
    background-color: #000e8b;
    border-radius: 1em;
    transition: 0.8s;
    color: #ffffff;
  }
  
  .logo-img {
    width: 12vh;
  }
  
  @media (max-width: 767px) {
    .navbar-toggler {
      background-color: rgb(17, 28, 175);
  
    }
  
    .navbar-toggler-icon {
      background-color: rgb(4, 14, 158);
    }
  
    .btn-donacion {
      padding: 10px 20px;
      border-radius: 100px;
  
    }
  
    .link1:hover {
      background-color: #000e8b;
      border-radius: 20em;
      padding: 20px;
      transition: 2s;
      width: 10em;
      color: #ffffff;
    }
  }
  
  main {
    flex: 1 0 auto; 
}

/* CONTENEDOR PRINCIPAL */
.Titulo-Futsal {
    background-color: #000e8b;
    border-radius: 10em;
    font-family: "Patua One", serif;
    font-weight: 400;
    text-align: center;
    padding: 20px;
margin-bottom: 2em;
}



#quienes-somos h2 {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
  
}

#equipos h2 {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.activity-box {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    transition: transform 0.3s;
}

.activity-box:hover {
    transform: scale(1.05);  }

.img-fluid {
    max-height: 300px; 
    object-fit: cover; 
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .Titulo-Futsal h1 {
        font-size: 2em;
    }

    #quienes-somos h2,
    #equipos h2 {
        font-size: 2em;
    }

    .activity-box {
        padding: 2em; 
    }
}

@media (max-width: 480px) {
    .Titulo-Futsal {
        padding: 15px;
    }

    #quienes-somos h2,
    #equipos h2 {
        font-size: 1.8em;
    }

    .activity-box {
        padding: 1.5em;
        font-size: 0.9em; 
    }
}

  /*FOOTER*/
  #main-footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .section-texto h2{
   color: #0010a1;
  }
 
  .imagen{
    border-radius: 3em;

  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  .footer-section p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  
  }
  
  .footer-section ul li a:hover {
    color: #007BFF;

  }
  
  .footer-section a img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .footer-section a:hover img {
    transform: scale(1.1);
   
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    font-size: 0.9rem;
    border-top: 1px solid #007BFF;
 
    margin-top: 20px;
    color: #ffffff;
  }
  
  .social1 {
    margin-right: 20px;
  
  }
  
  
  @media (max-width: 768px) {
    #main-footer {
        padding: 15px 0; 
    }
    
    .footer-section {
        width: 100%; 
        text-align: center; 
    }
    
    .footer-container {
        flex-direction: column; 
    }
    
    .footer-section a img {
        width: 25px; 
    }
}

@media (max-width: 576px) {
 
    
    .footer-bottom {
        font-size: 0.8rem; 
    }
    
    .social1 {
        margin-right: 10px; 
    }
}