* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {

  min-height: 600px;

}

/* boton de donaciones*/
.btn-donacion {
  background-color: #0010a1;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid white;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  transform: color 2s;

}

.btn-donacion:hover {
  background-color: #ffffff;
}

.btn-donacion::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #5562d8;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1s;
}

.btn-donacion:hover::before {
  width: 40%;
}

/*estilos para el nav */
.navbar {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(0, 0, 0);
}

.link1 {
  color: white;

}

.link1:hover {
  background-color: #000e8b;
  border-radius: 1em;
  transition: 0.8s;
  color: #ffffff;
}

.logo-img {
  width: 12vh;
}

/* estilos para tablets*/
@media (max-width: 767px) {
  .navbar-toggler {
    background-color: rgb(17, 28, 175);

  }

  .navbar-toggler-icon {
    background-color: rgb(4, 14, 158);
  }

  .btn-donacion {
    padding: 10px 20px;
    border-radius: 100px;

  }

  .link1:hover {
    background-color: #000e8b;
    border-radius: 20em;
    padding: 20px;
    transition: 2s;
    width: 10em;
    color: #ffffff;
  }
}

/*estilos para el carousel */
.carousel-img {
  width: 100%;
  max-height: 765px;
  object-fit: cover;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.9s ease;
}

.carousel-img-container {
  position: relative;
}

.Carousel-Text {
  position: absolute;
  bottom: 260px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;


}

.Carousel-Text h2 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  background-color: #00087c;
  border: #0505056c 2px solid;
  padding: 10px;
  border-radius: 100em;

}

.Carousel-Text h3 {
  font-size: 5.5em;
  color: #ffffff;
  padding: 20px;
  opacity: 0;
  transition: opacity 2s;

}

.Carousel-Text.active h3 {
  opacity: 1;
}

/* carousel para tablets*/
@media (max-width: 767px) {
  .carousel-img {
    max-height: 350px;
    object-fit: cover;
    transition: opacity 0.9s ease;
  }

  .Carousel-Text {
    bottom: 100px;
  }

  .Carousel-Text h2 {
    font-size: 1em;
  }

  .Carousel-Text h3 {
    font-size: 2.2em;
  }
}

/*NOTICIAS*/
#news-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px; 
}


.news-item {
  background-color: #0c003f; 
  padding: 20px;
  border: 1px solid #001a35; 
  width: calc(33.333% - 20px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
  border-radius: 2em;
}


.news-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.news-item img {
  max-width: 100%; 
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px; 
}


.news-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px; 
  color: #ffffff; 
  text-align: center; 
  font-family: "Patua One", serif; 
  font-weight: 400;
}

#news h2 {
  color: white; 
  font-family: "Patua One", serif; 
  font-weight: 400; 
  font-style: normal; 
  letter-spacing: 10px; 
  text-align: center; 
}


#news {
  background-color: #0c0c0c; 
  padding: 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


@media (max-width: 768px) {
  .news-item {
    width: 100%; 
  }
}


@media (min-width: 768px) {
  .news-item {
    width: calc(33.333% - 20px); 
  }
}
/*FORMULARIO*/

.formu {
  background-image: url('../img/LaDiagonalComplejo.jpg');
  /* Reemplaza con la ruta correcta de la imagen */
  background-size: cover;
  /* Para que la imagen cubra todo el fondo */
  background-position: center;
  /* Centrar la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  padding: 50px;
  /* Espaciado interno */
  color: white;
  /* Color blanco para el texto */
  box-shadow: 0 4px 10px rgba(37, 37, 37, 0.637);
  /* Añadir sombra suave al contenedor */
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.form-group label {
  font-size: 1.4em;
}

.formu h2 {
  color: #ffffff;
  /* Color del título en blanco */
  font-size: 4rem;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 20px;
}

.input-estilizado {
  background-color: rgba(7, 7, 7, 0.651);
  /* Fondo blanco semitransparente */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.boton-donar {
  background-color: #040349;
  /* Azul para el botón */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
  font-size: 1.3em;
}

.boton-donar:hover {
  background-color: #0056b3;
  /* Azul más oscuro en hover */
}

/* Estilo responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor-form-imagen {
    flex-direction: column;
    text-align: center;
  }

  .formulario,
  .imagen {
    width: 100%;
    /* En pantallas pequeñas, ocupan el 100% */
    padding: 0;
  }

  .formulario {
    margin-bottom: 20px;
  }
}


/*NOSOTROS*/

#caja-about1 h3 {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  color: #0010a1;


}

#caja-about1 p {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;



}

#caja-about1 {
  background-color: #0c0c0c;
  color: #eee;

}

#caja-about2 p {
  font-size: 1.4em;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;


}

#caja-about2 {
  background-color: #060749;
  color: #eee;

}

.boton-about {
  background-color: #fdf2e9;
  color: #000e8b;
  margin-top: 2em;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

.boton-about:hover {
  background-color: #000000;
  color: #fbfcff;
  transition: 1s;
}

.about {
  padding: 2em 1em; 
}

.caja-about1,
.caja-about2 {
  margin-bottom: 2em; 
}

.boton-about {
  margin-top: 1em; 
}


@media (max-width: 768px) {
  .about {
      padding: 1.5em 0.5em; 
  }
  
  #caja-about1,
  #caja-about2 {
      text-align: center; 
  }
  
  #caja-about1 img,
  #caja-about2 img {
      width: 100%; 
      height: auto; 
  }

  .col-md-6 {
      margin-bottom: 1em; 
  }

  .btn.boton-about {
      width: 50%; 
      font-size: 1em; 
  }
}



#gallery {
  padding: 20px;
  background-color: #fdfeffcc;
 
}

#gallery h2 {
  text-align: center;
  color: #270070;

  margin-bottom: 20px;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 20px;
}


#container-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 110px;

}

/*Alianzas*/

.gallery-item {
  flex: 0 1 calc(20% - 10px);
  box-shadow: 0 2px 5px rgba(15, 4, 80, 0.774);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}


.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

/*FOOTER*/
#main-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}

.footer-section {
  width: 30%;
  margin-bottom: 20px;

}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007BFF;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;

}

.footer-section ul li a:hover {
  color: #007BFF;
}

.footer-section a img {
  width: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.footer-section a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 0.9rem;
  border-top: 1px solid #007BFF;
  margin-top: 20px;
  color: #ffffff;
}

.social1 {
  margin-right: 20px;

}

@media (max-width: 768px) {
  #main-footer {
      padding: 15px 0;
  }
  
  .footer-section {
      width: 100%;
      text-align: center; 
  }
  
  .footer-container {
      flex-direction: column; 
  }
  
  .footer-section a img {
      width: 25px; 
  }
}

@media (max-width: 576px) {

  
  .footer-bottom {
      font-size: 0.8rem; 
  }
  
  .social1 {
      margin-right: 10px; 
  }
}
